<%- include('./partials/01header.ejs') %> 
<%- include('./partials/02navbar.ejs') %> 

<h1>INI HOME. LO MAU NGAPAIN DISINI?</h1>

<h3>login dulu</h3>
<form action="/" method="POST">
    <input type="text" name="username">
    <input type="password" name="password" id="">
    <input type="submit" value="LOGIN">
</form>

<%- include('./partials/03footer.ejs') %> 
 